/* =====================
   DESKTOP (DEFAULT)
===================== */
.relatedproducts {
  width: 100%;
  padding: 40px 120px;
  box-sizing: border-box;
}

.relatedproducts h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 12px;
}

.relatedproducts hr {
  width: 180px;
  height: 2px;
  border: none;
  background: #333;
  margin: 0 auto 40px;
}

.relatedproducts-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* ITEM */
.relatedproducts-grid .item {
    width: 82%;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.relatedproducts-grid .item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.relatedproducts-grid .item h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.prices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.old-price {
  color: #888;
  text-decoration: line-through;
}

.new-price {
  color: #e74c3c;
  font-weight: 600;
}

/* =====================
   LARGE LAPTOP
===================== */
@media (max-width: 1200px) {
  .relatedproducts {
    padding: 30px 70px;
  }

  .relatedproducts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
    .relatedproducts-grid .item img {
    height: 77%;
  }
}

/* =====================
   TABLET
===================== */
@media (max-width: 992px) {
  .relatedproducts {
    padding: 25px 40px;
  }

  .relatedproducts h1 {
    font-size: 2.1rem;
  }

  .relatedproducts-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .relatedproducts-grid .item img {
    height: 77%;
  }
}

/* =====================
   SMALL TABLET
===================== */
@media (max-width: 768px) {
  .relatedproducts {
    padding: 20px 30px;
  }

  .relatedproducts h1 {
    font-size: 1.8rem;
  }

  .relatedproducts-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .relatedproducts-grid .item img {
    height: 80%;
  }
}

/* =====================
   MOBILE
===================== */
@media (max-width: 576px) {
  .relatedproducts {
    padding: 15px;
  }

  .relatedproducts h1 {
    font-size: 1.6rem;
  }

  .relatedproducts-grid {
    grid-template-columns: repeat(1, 1fr);
    
  }

  .relatedproducts-grid .item {
    margin-left: 40px;
    padding: 12px;
  }

  .relatedproducts-grid .item img {
    height: 80%;
  }
}

/* =====================
   SMALL MOBILE
===================== */
@media (max-width: 420px) {
  .relatedproducts-grid {
    grid-template-columns: 1fr;
  }

  .relatedproducts-grid .item img {
    height: 80%;
  }
}

/* =====================
   VERY SMALL MOBILE
===================== */
@media (max-width: 350px) {
  .relatedproducts h1 {
    font-size: 1.4rem;
  }

  .relatedproducts-grid .item img {
    height: 80%;
  }
}
